pytest
pytest-cov
pytest-benchmark

black==25.12.0
isort
mypy
pylint
ruff

build

markdown-include
mdx-truly-sane-lists
mkdocs
mkdocs-exclude
mkdocs-material
mkdocs-llmstxt
pygments
pymdown-extensions

tabulate
