pytest
pytest-cov
pytest-benchmark

black
flake8
isort
mypy
pylint
ruff

hatch

markdown-include
mdx-truly-sane-lists
mkdocs
mkdocs-exclude
mkdocs-material
pygments
pymdown-extensions

pydantic
tabulate
